
<html>
    <head>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script rel="javascript" type="text/javascript" href="js/jquery-1.11.3.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
        <script language="javascript" type ="text/javascript"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
     
    </head>
    <body>
       
    <% include templates/header.ejs %>
    <% include templates/edamamAPI.ejs %>
    <br>
    <script>
 // check if user is logged in or not   
  /*  if(!getCookie("username")) {
        window.location.replace("/userRegister");
    }*/
    
</script>
<div id="box">
    
    <!-- Tomato Loading Icon -->
    <div id="wait" style="display:none;width:69px;height:89px;position:absolute;top:50%;left:50%;padding:2px;"><img src="images/fruits-tomato.gif" alt="My_Logo"></div>

    <style>
        #box{
            width:25px;
            height:25px;
        }
        .input-group{
            width:90%;
            color:red;
        }
    </style>
</div>

    <!-- Buttons for recipeSearch() function -->
        <div class="input-group">
          <input type="text" class="form-control" placeholder="search for a type of food..." name="search" id="searchValue" >
          <div class="input-group-btn">
              <button class="btn btn-default" type="submit" onclick="recipeSearch()" id="button1">
              Search
              </button>
          </div>
        </div>
       <!-- Recipe Display see edamamAPI.ejs for jquery data -->
      <center>
        <span id="oneSpan"></span>
        <span id="youtubeSpan"></span>
      </center>
      
     

<div id="results"></div>
    </body>  
    <script>
         // allows the user to press 'enter' to search
        document.getElementById("searchValue")
            .addEventListener("keyup", function(event) {
            event.preventDefault();
            if (event.keyCode == 13) {
                document.getElementById("button1").click();
            }
        });
    </script>
        
    <!-- Include Footer File -->  
    <% include templates/footer.ejs %>
    </body>
</html>