<html>

<head>
  
    <!-- Include includes template -->
    <% include templates/includes.ejs %>
</head>

<body>
    
    <!-- Include header template -->
  <% include templates/header.ejs %>
  
    <style>
    #registrationBox{
      border:2px solid green;
      padding:2em;
      height:20em;
      width:20em;
    }

    </style>
  

    <% include templates/footer.ejs %>
    
    

</body>

</html>